# Variables de entorno
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.pytest_cache/
.mypy_cache/

# Node
node_modules/

# Build
dist/
build/

# Logs
*.log

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db